PORT=5174
VITE_API_BASE_URL=http://localhost:5000/api
VITE_API_PROXY_TARGET=http://localhost:5000
VITE_GOOGLE_CLIENT_ID=377852106720-uh3git6ggldlaf52tl45e2dlr1j7b519.apps.googleusercontent.com
VITE_FLW_PUBLIC_KEY=FLWPUBK_TEST_xxxxx
